
html {
    position: relative;
    min-width: 1440px;
    min-height: 900px;
    height: 100%;
}
body {
    background-color:white;
    font-family: 'Spartan', sans-serif;
  }

.top {
    position: fixed;
}
.bottom {
    position: fixed;
}
.wrapper {
    display: grid;
    grid-gap: 20px;
    margin: 20px;
    padding: 50px;
    height: 30px;
    width: 370px;
    font-weight: 500;
    font-size: 15px;
}
p{
    width: 300px;
    height: 200px;
    margin: 2px;
    padding: 40px;
    box-shadow: 10px 10px 5px rgb(184, 183, 183);
    border-radius: 15px;
    background: hsl(300, 43%, 22%);
    color: white;
    font-size: 15px;
    transition: 0.3s;
}
.h1 {
    grid-column:1;
    grid-row: 1;
    width: 400px;
    font-weight: 700;
    font-size: 50px;
    color: hsl(300, 43%, 22%);
}
.descr {
    grid-column: 1/-1;
    grid-row: 2;
    color:hsl(303, 10%, 53%);
 
}
.anne {
    grid-column: 3;
    grid-row: 4;
}
.colton {
    grid-column: 1;
    grid-row: 4;
} 

.irene {
    grid-column: 2;
    grid-row: 4;
    
}
.rev1 {
    box-shadow: 10px 10px 5px rgb(184, 183, 183);
    grid-column:1;
    grid-row: 3;
    margin: 5px;
    padding: 10px;
    height: 20px;
    width: 370px;
    font-weight: 500;
    font-size: 15px;
    background: hsl(300, 24%, 96%);
    border-radius: 15px;
}
.rev2 {
    box-shadow: 10px 10px 5px rgb(184, 183, 183);
    grid-column:2;
    grid-row: 3;
    margin: 5px;
    padding: 10px;
    height: 20px;
    width: 370px;
    font-weight: 500;
    font-size: 15px;
    background: hsl(300, 24%, 96%);
    border-radius: 15px;
}
.rev3 {
    box-shadow: 10px 10px 5px rgb(184, 183, 183);
    grid-column:3;
    grid-row: 3;
    margin: 5px;
    padding: 10px;
    height: 20px;
    width: 370px;
    font-weight: 500;
    font-size: 15px;
    background: hsl(300, 24%, 96%);
    border-radius: 15px;

}
.avatar {
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    width: 50px;
}

