
html {
    position: relative;
    min-width: 1440px;
    min-height: 900px;
    height: 100%;
}
body {
    background-color:white;
    font-family: 'Spartan', sans-serif;
  }

.top {
    position: fixed;
}
.bottom {
    position: fixed;
}
.wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto auto auto;
    grid-auto-rows: auto;
    grid-gap: 20px;
    margin: 20px;
    padding: 50px;
    height: 30px;
    width: 370px;
    font-weight: 500;
    font-size: 15px;
}
.h1 {
    grid-column: 1;
    grid-row: 1;
    width: 300px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}
.descr {
    grid-column: 1;
    grid-row: 2;
    color:hsl(303, 10%, 53%);
}
.anne {
    grid-column: 3;
    grid-row: 3;
}
.colton {
    grid-column: 1;
    grid-row: 3;
} 
.irene {
    grid-column: 2;
    grid-row: 3;
    
}
.rev1 {
    grid-column:2/span 3;
    grid-row: 1;
    margin: 5px;
    padding: 10px;
    height: 20px;
    width: 370px;
    font-weight: 500;
    font-size: 15px;
    background: hsl(300, 24%, 96%);
    border-radius: 15px;
}
.rev2 {
    grid-column:2/span 3;
    grid-row: 2;
    margin: 5px;
    padding: 10px;
    height: 20px;
    width: 370px;
    font-weight: 500;
    font-size: 15px;
    background: hsl(300, 24%, 96%);
    border-radius: 15px;
}
.rev3 {
    grid-column:4;
    grid-row: 1;
    margin: 5px;
    padding: 10px;
    height: 20px;
    width: 370px;
    font-weight: 500;
    font-size: 15px;
    background: hsl(300, 24%, 96%);
    border-radius: 15px;

}
.avatar {
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    width: 50px;
}

p{
    width: 300px;
    margin: 2px;
    padding: 25px;
    border-radius: 15px;
    background: hsl(300, 43%, 22%);
    color: white;
    font-size: 15px;
}
